body {
  overflow: hidden;
  background-color: "black";
  color: white;
}

.action-panel{
  overflow: hidden;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 8vh;
  bottom: 5vh;
  width: 100%;
  height: 92vh;
  border: 0px solid rgb(0, 0, 0);
  background-color: black;
}

.description-panel{
  position: absolute;
  text-align: left;
  padding: 0;
  left: 0px;
  right: 0px;
  top: 8vh;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(64, 58, 180);
  /* font-size: 3.3vh; */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.description-header{
  margin-top: 0em;
  position: absolute;
  background-color: black;
  color: white;
  top: 0px;
 
  width: 100vw;
  height: 3vh;
  padding: 2.1vh;
}
.description-title{
  padding: 15px;
  font-size: 3em;
  margin: 0em;
  color: rgb(20, 20, 20);
}
.description-snippet{
  padding: 15px;
  font-size: 1.5em;
  margin: 0em;
  color: rgb(20, 20, 20);
}
.description-text{
  padding: 15px;
  font-size: 1em;
  margin: 0em;
  color: rgb(20, 20, 20);
}
.description-lit{
  padding: 15px;
  font-size: 1em;
  margin: 0em;
  color: rgb(20, 20, 20);
}
.description-lit2{
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 25px;
  font-size: 1em;
  margin: 0em;
  color: rgb(20, 20, 20);
}
.div-title{
  font-size: 2.8vh;
  margin:1em;
  color: rgb(0, 0, 0);
}
.div-advice{
  font-size: 2.8vh;
  margin:1em;
  margin-bottom:  0.2em;;
  color: rgb(0, 0, 0);
}

.div-reference{
  font-size: 2.5vh;
  margin-left:1em;
  margin-right:1em;
  margin-top: 0.2em;
  color: rgb(131, 131, 131);
}

.desc-header{
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;
}
.desc-button{
  border: 0px;
  background-color: transparent;
  color: azure;
  font-size: 3.3vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
}


.verbs-panel {
  overflow: hidden;
  height:100% ;
  width: 50%;
  
  text-align: center;
  overflow-x: hidden;

}

.nouns-panel {
  overflow: hidden;
  position: absolute;
  height: 100%;
  top: 0%;
  left: 49.5%;
  width: 50%;
  text-align: center;

}

.footer {
  position: absolute;
  height: 5vn;
  bottom: 0%;
  width: 100%;
  background-color: black;
  text-align: left;
}

.back-button {
  position: absolute;
  width: 4vh;
  height: 4vh;
  /* border-radius:100px; */
  right:0.3em;
  top: 0.3em;
  border: 0px solid;
  color: white;
  background-color: transparent;
  padding: 1px; 
  cursor: pointer;
  align-items: center;
  font-size: 3.5vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: background-color 10s;
}
.snippet {
  margin-top: -1vh;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
  font-size: 2.3vh;
}

.header {
  position: absolute;
  top: 0%;
  height: 8vh;
  width: 100%;
  border: 0px;
  padding-left: 3.5vh;
  padding-top: 2.5vh;
   background-color: black;
   text-align: left;
    color: azure;
    align-items: center;
    font-size: 3.2vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }
 .container  {
  width: 100%;
}

.container.left  {
  top: 30px;
  padding-top: 5px;
  text-align: right;
  float: right;
}

.container.right  {
  top: 30px;
  padding-top: 5px;
  text-align: left;
  float: left;
}
.book-button{
  text-decoration: underline;
  cursor: pointer;
  font-size: 2.8vh;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.layer-button{
    display: grid;
    height: 9vh;
    width: 100%;
    background-color: transparent;
    border-left: 2px solid rgb(0, 0, 0); 
    border-right: 2px solid rgb(0, 0, 0); 
    border-top: 1px solid rgb(0, 0, 0); 
    border-bottom: 1px solid rgb(0, 0, 0); 
    color: rgb(0, 0, 0);
    padding-top: 2.5vh;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    margin-left: 1px;
    cursor: pointer;
    font-size:3vh;
    justify-content: center;
    text-align: center; /* Aligns text to the left */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .first-left {
    border-top-left-radius:4vh; 
    border-bottom-left-radius:0vh;
  }
  .mid-left {
    border-top-left-radius:0vh; 
    border-bottom-left-radius:0vh;
  }
  .last-left {
    border-top-left-radius:0vh; 
    border-bottom-left-radius:4vh; 
  }

  .first-right {
    border-top-right-radius:4vh; 
    border-bottom-right-radius:0vh;
  }
  .mid-right {
    border-top-right-radius:0vh; 
    border-bottom-right-radius:0vh;
  }
  .last-right {
    border-top-right-radius:0vh; 
    border-bottom-right-radius:4vh; 
  }

  .active {
    width: 100%;
    height: 67vh;
    display: grid;
    align-content: start; /* Aligns content to the top */

    background-color:  rgb(61, 242, 203);
    font-size: 3.0vh;
    -webkit-transform:scale(1,1); /* Safari and Chrome */
    -moz-transform:scale(1,1); /* Firefox */
    -ms-transform:scale(1,1); /* IE 9 */
    -o-transform:scale(1,1); /* Opera */
    transform:scale(1,1); /* W3C */
    transition: color 10s;

    /* padding-bottom: 2vh;
    padding-top: 1.5vh; */



  }

  .nonactive {
 

    /* color: rgb(255, 255, 255); */
    width: 100%;
    -webkit-transform:scale(1,1); /* Safari and Chrome */
    -moz-transform:scale(1,1); /* Firefox */
    -ms-transform:scale(1,1); /* IE 9 */
    -o-transform:scale(1,1); /* Opera */
    transform:scale(1,1); /* W3C */
  }
  .thumb-container {
    margin-top: 2.2vh;
    width: 100%;
    height: 20vh; /* Set the constant height */
    overflow: hidden; /* Ensures the cropped parts of the image are not visible */
  }
  

  .thumb {

    object-fit: fill;
    width: 50vw;

  }

  .hide {
    display: none;
  }

  .layer-button:hover {
    color: rgb(86, 86, 86);
  }

  .ask-button {
    position: absolute; 
    height: 6vh;
    background-color: black ;
    /* border-radius:100px;  */
    right: -7px;
    left:-7px;
    bottom: -7px;
    border: 0px solid;
    color: rgb(255, 255, 255);
    padding: 0.1vh; 
    padding-left: 15px;
    margin: 7px; 
    cursor: pointer;
    align-items: center;
    font-size: 3.2vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* transition: background-color 10s; */
  }
  .review-button {
    position: absolute; 
    width: 18vh;
    height: 18vh;

    left: 20px;
    bottom: 20px;
    border: 0px solid;
    color: white;
    padding: 15px; 
    /* padding-left: 15px;
    margin: 7px; */ 
    cursor: pointer;
    align-items: center;
    font-size: 3.3vh;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: background-color 10s;
  }
  .lock-button 
  {
    position: absolute;
    right: 5%;
    width: 3%;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0px solid;
    margin: 0px;
    vertical-align: middle;
  }

  .lock-icon {
    width: 5vh;
    height: 5vh;
  }
  .lock-spam {
    color: rgb(255, 255, 255);
    font-size: 2.0vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  @media (max-width: 600px) {
  .image {
    width: 100%;    
    
  }

  .image-main {

    top: 7vh;
    left: 0px;
    width: 100vw; 
    height: 75vw;
    object-fit: cover;
    object-position: center; /* centers the image */
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .image {
    width: 70vw;    
  }
}
@media (min-width: 1025px) {
  .image {
    width: 50vw;    
  }
}




